<p-card>
  <form [formGroup]="inputForm">
    <div class="ui-g p-formgrid p-grid">
      <div class="ui-g-12 ui-md-12">
        <!-- baris pertama -->
        <div class="ui-g-12 ui-md-12" style="padding: 0px">
          <div class="ui-fluid ui-g-12 ui-md-3">
            <label for="barang" class="ui-fluid p-sm-3" style="padding: 2px !important">{{
              "Barang" | translate
            }}</label>
          </div>
          <div class="ui-fluid ui-g-12 ui-md-4" style="padding: 3px">
            <div
              [ngStyle]="
                inputForm.controls.barang.value.namaBarang === null
                  ? { 'border-style': 'solid', 'border-width': '1px', 'border-color': 'red' }
                  : {}
              "
            >
              <p-autoComplete
                inputId="barang"
                formControlName="barang"
                [suggestions]="filteredBarang"
                field="namaBarang"
                (completeMethod)="filterBarang($event)"
                [minLength]="3"
                [dropdown]="true"
                (onBlur)="verifikasiAutocompleteBarang(inputForm.controls.barang.value)"
                (onSelect)="selectedBarang()"
              >
                <ng-template let-data pTemplate="item">
                  <div class="ui-helper-clearfix">
                    <div style="float: left; margin: 10px 10px 0 0">
                      {{ data.kodeBarang }}&nbsp;&nbsp;({{ data.namaBarang }})
                    </div>
                  </div>
                </ng-template>
              </p-autoComplete>
            </div>
          </div>
        </div>

        <!-- baris kedua -->
        <div class="ui-fluid ui-g-12 ui-md-3">
          <label for="jumlahDiminta" class="ui-fluid p-sm-3" style="padding: 0px !important">{{
            "JumlahDiminta" | translate
          }}</label>
        </div>
        <div class="ui-g-12 ui-md-4" style="padding: 0px">
          <!-- <div class="ui-fluid ui-g-12 ui-md-1" style="text-align: center">
            <label for="jumlahDiminta" class="ui-fluid p-sm-3" style="padding: 0px !important">=</label>
          </div> -->
          <div class="ui-fluid ui-g-12 ui-md-12" style="padding: 3px">
            <p-inputNumber
              mode="decimal"
              locale="{{ defaultLanguageState.getDefaultLanguage().locale }}"
              name="jumlah_diminta"
              formControlName="jumlahDiminta"
              maxlength="5"
              size="auto"
              (ngModelChange)="onChangeJumlahDiminta()"
            >
            </p-inputNumber>
          </div>
        </div>

        <!-- baris ketiga -->
        <div class="ui-fluid ui-g-12 ui-md-5" style="padding: 3px">
          <div class="ui-fluid ui-g-12 ui-md-10" style="padding: 0">
            <p-dropdown
              inputId="unit"
              [(ngModel)]="selectedUnit"
              [options]="comboUnit"
              formControlName="unit"
              (onChange)="onChangeDdlUnit()"
              [filter]="true"
            >
            </p-dropdown>
          </div>
        </div>
      </div>

      <div class="ui-g-12 ui-md-12">
        <div class="ui-g-12 ui-md-12" style="padding: 0px">
          <div class="ui-fluid ui-g-12 ui-md-3">
            <label class="ui-fluid p-sm-3" for="barang" style="padding: 0px !important">{{
              "JumlahDalamUnitStok" | translate
            }}</label>
          </div>
          <div class="ui-fluid ui-g-12 ui-md-2" style="padding: 3px">
            <p-inputNumber
              mode="decimal"
              locale="{{ defaultLanguageState.getDefaultLanguage().locale }}"
              name="jumlah_dalam_unit_stok"
              formControlName="jumlahDalamUnitStok"
              maxlength="5"
              size="auto"
            >
            </p-inputNumber>
          </div>
        </div>
      </div>
    </div>
  </form>

  <form [formGroup]="inputForm">
    <div class="p-formgrid p-grid">
      <div class="p-field p-grid p-col-0 p-align-start" style="margin-bottom: 1px; margin-left: 2px">
        <p-button
          type="button"
          label="{{ 'Simpan' | translate }}"
          styleClass="ui-button-raised"
          icon="pi pi-save"
          iconPos="left"
          (onClick)="Save1()"
          [disabled]="isValidSaveButton()"
          [style]="{ 'margin-left': '5px', 'margin-top': '10px' }"
        ></p-button>

        <p-button
          type="button"
          label="{{ 'Kembali' | translate }}"
          styleClass="ui-button-raised ui-button-success"
          icon="pi pi-arrow-left"
          iconPos="left"
          (onClick)="backBack1()"
          [style]="{ 'margin-left': '5px', 'margin-top': '10px' }"
        ></p-button>
      </div>
    </div>
  </form>
</p-card>
